<div class="container">
  <main>
    <div class="pictures">
      <swiper-container
        class="pictureSwipper"
        appSwiper
        #swiper
        [config]="swiperConfig"
        (slidechange)="slideChange($event)"
      >
        <swiper-slide *ngFor="let image of cloth.images; let i = index">
          <div class="picture">
            <img [src]="cloth.images[i].path" alt="Product" />
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="infos">
      <div class="header">
        <h1>{{ cloth.name }}</h1>
        <h4>Sold and delivered by <span>Elara</span></h4>
      </div>
      <div class="content">
        <h1 class="price">{{ cloth.price * cloth.discount | currency : "USD" : "symbol" }}</h1>
        <div class="colors">
          <h3>Colors</h3>
          <div class="color">
            <div *ngFor="let color of filteredColors; let i = index" class="color__item" [ngStyle]="{'background-color': color}" style="background-color: #000000"></div>
          </div>
        </div>
        <div class="sizes">
          <h3>Sizes</h3>
          <div class="size">
            <div class="size__item" *ngFor="let size of cloth.sizes">{{ size }}</div>
          </div>
        </div>
        <div class="actions">
          <a href="#" class="btn buy"
            ><i data-feather="shopping-cart"></i>Buy now</a
          >
          <a href="#" class="btn bag"
            ><i data-feather="shopping-bag"></i>Add to bag</a
          >
        </div>
        <div class="zipcode">
          <h3>Check Shipping</h3>
          <div class="zipcode__item">
            <input type="text" placeholder="Enter your Zip Code" />
            <button class="btn">OK</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="description">
    <h2>Description</h2>
    <p>
          {{ cloth.description }}
    </p>
  </div>
</div>
