<header #header>
    <div class="logo">ELARA</div>
    <nav>
        <ul>
            <li><a routerLink="home">HOME</a></li>
            <li><a routerLink="products">PRODUCTS</a></li>
            <li><a routerLink="about">ABOUT</a></li>
            <li><a routerLink="contact">CONTACT</a></li>
        </ul>
    </nav>
    <div class="actions">
        <a routerLink="/login" *ngIf="!logged" title="Sign-in"><i data-feather="user" ></i></a>
        <div class="account" *ngIf="logged">
            <a routerLink="/account/settings" class="toggle__option" title="My Account"><i data-feather="user"></i></a>
            <a (click)="logout()" class="toggle__option" title="Log-out"><i  data-feather="log-out"></i></a>
        </div>
    </div>
    <div class="toggle" #toggleIcon (click)="toggleMenu()">
        <i data-feather="menu"></i>
        <i data-feather="x" class="hidden"></i>
    </div>
    <div class="mobile-header">
        <div class="actions">
            <a routerLink="/login" *ngIf="!logged" title="Sign-in"><i data-feather="user" ></i></a>
            <div class="account" *ngIf="logged">
                <a routerLink="/account/settings" class="toggle__option" title="My Account"><i data-feather="user"></i></a>
                <a (click)="logout()" class="toggle__option" title="Log-out"><i  data-feather="log-out"></i></a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a routerLink="home">HOME</a></li>
                <li><a routerLink="products">PRODUCTS</a></li>
                <li><a routerLink="about">ABOUT</a></li>
                <li><a routerLink="contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>

