<div [ngClass]="['container', classe]" >
  <a [routerLink]="['./clothes', id]" routerLinkActive="router-link-active" >
    <img [src]="image" [alt]="name" />
    <div class="description">
      <p class="name">{{ name }}</p>
      <div class="prices">
        <p class="original-price" *ngIf="discount != 1">
          {{ price | currency : "USD" : "symbol" }}
        </p>
        <h3 class="price">
          {{ price * discount | currency : "USD" : "symbol" }}
        </h3>
      </div>
    </div>
  </a>
</div>
