<section>
  <div class="container">
    <div class="infosLogin">
      <div class="infos">
        <a routerLink="home" style="text-decoration: none;color: white;"><h3>RETURN TO HOME</h3></a>
        <div class="desc">
          <p class="typewriter">Shop at Elara and change your life for the better.</p>
          <p class="minDesc">Sign in to your account to continue.</p>
        </div>
      </div>
    </div>
    <div class="login">
      <div class="returnHome"><a routerLink="home"><h3>RETURN TO HOME</h3></a></div>
      <div class="form">
        <h1>Login</h1>
        <form #login="ngForm" (ngSubmit)="makeLogin(login)">
          <div class="input email">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email"
              required
              ngModel
              email
            />
          </div>
          <div class="input password">
            <label for="password">Password</label>
            <input
              #passwordInput = "ngModel"
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
              ngModel
            />
          </div>
          <div *ngIf="error" class="error">
            <p>{{ error }}</p>
          </div>
          <div class="input submit">
            <button type="submit" class="submit" [disabled]="!login.valid"
            >Log in</button>
            <p class="signup">Don't have an account? <a (click)="switchRoute('new')">Sign up</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>