<div class="cart">
  <div class="emptyCart" *ngIf="clothes.length < 1">Empty Bag. Add itens to continue</div>
  <div class="cart__item" *ngFor="let cloth of clothes; let i = index ">
    <img [src]="cloth.image" alt="Product" />
    <div class="infos">
      <p class="clothName">{{ cloth.name }}</p>
      <div class="clothInfos">
        <p>Size: <b>{{ cloth.size }}</b></p>
        <div class="colorContainer">
          <p class="colorP">Color: </p><div class="color" [style.background-color]="cloth.color"></div>
        </div>
      </div>
      <p class="price">{{ cloth.price * cloth.discount | currency : "USD" : "symbol" }}</p>
    </div>
    <div class="quantity">
        <button class="decrease" (click)="changeQuantity(i,'add')">+</button>
        <input type="text" [value]="cloth.quantity" disabled/>
        <button class="increase" (click)="changeQuantity(i,'decrease')">-</button>
    </div>
  </div>
  <div class="actions">
    <div class="total">
      <p>Total: {{ total | currency : "USD" : "symbol" }}</p>
    </div>
    <a class="cleanCart" (click)="cleanCart()" title="View Cart"
    ><i data-feather="trash-2"></i><span>Clean Cart</span></a>
    <a class="checkoutCart" title="Checkout" routerLink="/cart"
      ><i data-feather="shopping-cart"></i><span>Checkout</span></a
    >
  </div>
</div>
