<div class="cart">
  <div class="cart__item">
    <img src="assets/clothes-img/one.jpg" alt="Product" />
    <div class="infos">
      <p>Product Name</p>
      <p>Price: $100.00</p>
      <p>Size: PP</p>
      <div class="colorContainer">
        <p class="colorP">Color: </p><div class="color" [style.background-color]="" style="background-color: blue;"></div>
      </div>
    </div>
    <div class="quantity">
        <button class="decrease">-</button>
        <input type="text" value="1" />
        <button class="increase">+</button>
    </div>
  </div>
  <div class="cart__item">
    <img src="assets/clothes-img/one.jpg" alt="Product" />
    <div class="infos">
      <p>Product Name</p>
      <p>Price: $100.00</p>
    </div>
    <div class="quantity">
        <button class="decrease">-</button>
        <input type="text" value="1" />
        <button class="increase">+</button>
    </div>
  </div>
  <div class="actions">
    <a routerLink="/checkout" class="toggle__option" title="Checkout"
      >Checkout</a
    >
    <a routerLink="/cart" class="toggle__option" title="View Cart"
      >Clean Cart</a>
  </div>
</div>
