<div class="container">
    <header>
        <div class="theme">
            <label for="theme">Theme</label>
            <select id="theme" name="theme">
                <option value="auto">Auto</option>
                <option value="light">Light</option>
                <option value="dark">Dark</option>
            </select>
        </div>
        <div class="language">
            <label for="language">Language</label>
            <select id="language" name="language">
                <option value="english">English</option>
                <option value="spanish">Portuguese</option>
            </select>
        </div>
    </header>
  <form>
    <div class="name">
      <label for="name">First Name</label>
      <input type="text" id="name" name="name" placeholder="Name" />
    </div>
    <div class="lastName">
      <label for="name">Last Name</label>
      <input type="text" id="lastName" name="name" placeholder="Name" />
    </div>
    <div class="email">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" />
    </div>
    <div class="phone">
      <label for="phone">Phone</label>
      <input type="tel" id="phone" name="phone" placeholder="Phone" />
    </div>
    <div class="address">
        <label for="adress">Address</label>
        <input type="text" id="adress" name="address" placeholder="Address" />
    </div>
  </form>
</div>
