<header #header>
  <div class="logo" routerLink="home">ELARA</div>
  <nav>
    <ul>
      <li><a routerLink="./" (click)="scrollTo('home')">HOME</a></li>
      <li><a routerLink="./" (click)="scrollTo('products')">PRODUCTS</a></li>
      <li><a routerLink="about">ABOUT</a></li>
      <li><a routerLink="contact" (click)="scrollTo('contact')">CONTACT</a></li>
    </ul>
  </nav>
  <div class="actions">
    <a
      routerLink="/login"
      [ngClass]="{
        toggle__option: true,
        hidden: logged | async
      }"
      title="Sign-in"
      ><i data-feather="user"></i
    ></a>
    <div
      class="account"
      [ngClass]="{
        hidden: (logged | async) === false,
      }"
    >
      <a class="toggle__option" (click)="toggleCart()" id="cartToggle" title="Cart"
        ><i data-feather="shopping-bag"></i>
        <div class="itensQuantity">{{ cartQuantity }}</div>
      </a>
      <app-cart [ngClass]="{
        'hidden': !cartView,
      }"></app-cart>
      <a routerLink="./account" class="toggle__option" title="My Account"
        ><i data-feather="user"></i
      ></a>
      <a (click)="logout()" class="toggle__option" title="Log-out"
        ><i data-feather="log-out"></i
      ></a>
    </div>
  </div>
  <div class="toggle" #toggleIcon (click)="toggleMenu()">
    <i data-feather="menu"></i>
    <i data-feather="x" class="hidden"></i>
  </div>
</header>
<div class="mobile-header" #mobileHeader [@popMenu]="menuState">
  <nav class="mobile-actions">
    <ul>
      <li>
        <a routerLink="./" (click)="scrollTo('home')" class="toggle__option"
          ><i data-feather="home"></i>HOME</a
        >
      </li>
      <li
        [ngClass]="{
          hidden: logged | async
        }"
      >
        <a routerLink="/login" title="Sign-in" class="toggle__option"
          ><i data-feather="user"></i>SIGN-IN</a
        >
      </li>
      <li
        [ngClass]="{
        hidden: (logged | async) === false,
      }"
      >
        <a routerLink="./account" class="toggle__option" title="My Account"
          ><i data-feather="user"></i>MY ACCOUNT</a
        >
      </li>
      <li
        [ngClass]="{
        hidden: (logged | async) === false,
      }"
      >
        <a (click)="logout()" class="toggle__option" title="Log-out"
          ><i data-feather="log-out"></i>LOG-OUT</a
        >
      </li>
      <li>
        <a routerLink="./" (click)="scrollTo('products')" class="toggle__option"
          ><i data-feather="shopping-bag"></i>PRODUCTS</a
        >
      </li>
      <li>
        <a routerLink="about" (click)="scrollTo('about')" class="toggle__option"
          ><i data-feather="info"></i>ABOUT</a
        >
      </li>
      <li>
        <a
          routerLink="contact"
          (click)="scrollTo('contact')"
          class="toggle__option"
          ><i data-feather="send"></i>CONTACT</a
        >
      </li>
    </ul>
  </nav>
</div>
