<div class="container">
  <section>
    <h1>ELARA - Redefining Elegance</h1>
    <div class="content">
      <div class="img">
      <img
        ngSrc="assets/about1.jpg"
        fill
        alt="Friends talking"
        loading="lazy"
      />
    </div>
      <p>
        Welcome to Elara, your ultimate destination for stylish and timeless
        fashion. Born out of a passion for sophistication and an unwavering
        pursuit of excellence, Elara is more than just a clothing brand; it's an
        expression of style and an ode to elegance that transcends fleeting
        trends.
      </p>
    </div>
  </section>
  <section>
    <h1>Mission and Values</h1>
    <div class="content">
      <div class="img">
        <img
          ngSrc="/assets/about2.jpg"
          fill
          alt="Friends talking"
          loading="lazy"
        />
      </div>
      <p>
        At Elara, we believe that true elegance lies in the fusion of style,
        quality, and responsibility. Our mission is to offer pieces that not
        only visually captivate but also stand the test of time. We are
        committed to creating sustainable fashion, using high-quality materials
        and ethical practices at every stage of the production process.
      </p>
    </div>
  </section>
  <section>
    <h1>Inspiring Collections</h1>
    <div class="content">
      <div class="img">
        <img
          ngSrc="/assets/about3.jpg"
          fill
          alt="Friends talking"
          loading="lazy"
        />
      </div>
      <p>
        Each piece from Elara tells a unique story. Our collections are
        carefully curated to reflect the latest trends while preserving the
        timeless essence that defines true elegance. From stunning dresses to
        impeccable suits, each item is designed to elevate your style to new
        heights.
      </p>
    </div>
  </section>
  <section>
    <h1>Exceptional Craftsmanship</h1>
    <div class="content">
      <div class="img">
        <img
          ngSrc="/assets/about4.jpg"
          fill
          alt="Friends talking"
          loading="lazy"
        />
      </div>
      <p>
        At Elara, we believe that excellence is in the details. Our garments are
        a result of exceptional craftsmanship, combining tradition and
        innovation to create pieces that not only dress but also narrate a story
        of dedication and skill.
      </p>
    </div>
  </section>
  <section>
    <h1>Customer Commitment</h1>
    <div class="content">
      <div class="img">
        <img
          ngSrc="/assets/about5.jpg"
          fill
          alt="Friends talking"
          loading="lazy"
        />
      </div>
      <p class="last">
        The customer is the heart of Elara. We are dedicated to providing an
        exceptional shopping experience, from the careful selection of fabrics
        to personalized service. Your satisfaction is our priority, and every
        purchase at Elara is a celebration of your distinctive style.
        <br />
        Join us on the journey of redefined elegance. Discover the timeless
        beauty of fashion at Elara, where style meets sophistication.
      </p>
    </div>
  </section>
</div>
