
.one {
    background: url(/assets/home.jpg) no-repeat top center fixed;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 5rem);
    display:flex;
    align-items: center;
    justify-content: center;
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -20%;
        h1 {
            font-size: 7rem;
            font-weight: 600;
            color: white;
            
        }
        h2{
            color: white;
            font-weight: 400;
            font-size: 3rem;
             span{
                font-weight: 800;
             }
        }
        .btn{
            margin-top: 2rem;
            font-size: 1.5rem;
            background-color: white;
            color: black;
            &:hover{
                background-color: #f1f1f1;
            }
        }
    }
}

.btn{
    padding: 0.5rem 1rem;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.showClothes{
    margin: 2rem 15%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.two{
    width: 100%;
    margin-top: 2rem;
    .content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            font-size: 3rem;
            font-weight: 600;
        }
        .btn{
            margin-bottom: 2rem;
            font-size: 1.5rem;
            background-color: black;
            color: white;
            &:hover{
                background-color: #131313;
            }
        }
    }
}