<app-header></app-header>
<div class="container">
  <section class="one" id="home">
    <div class="content">
      <h1>Winter Promotion</h1>
      <h2>Get <span>30% off</span> on all winter products</h2>
      <a href="#" class="btn">Shop Now</a>
    </div>
  </section>
  <section class="two" id="products">
    <div class="content">
      <h1>Best Choices</h1>
      <swiper-container appSwiper #swiper [config]="swiperConfig" (slidechange)="slideChange($event)">
        <swiper-slide *ngFor="let cloth of clothes | slice : 0 : 4">
        <app-clothes-show
          [id]="cloth.id"
          [name]="cloth.name"
          [price]="cloth.price"
          [image]="cloth.image[0]"
          [discount]="cloth.discount || 1"
          classe="bestChoices"
        ></app-clothes-show>
        </swiper-slide>
      </swiper-container>
      <a class="btn" #viewAll (click)="showAllClothes($event.target)">VIEW ALL</a>
    </div>
    <div class="showClothes" *ngIf="showAll">
      <app-clothes-show
        *ngFor="let cloth of clothes"
        [id]="cloth.id"
        [name]="cloth.name"
        [price]="cloth.price"
        [image]="cloth.image[0]"
        [discount]="cloth.discount || 1"
      ></app-clothes-show>
    </div>
  </section>
</div>
<app-footer></app-footer>
