<div class="container">
   <section>
    <h1>Did you enjoy the project?</h1>
    <h1>Let's work together!</h1>

    <div class="contacts">
        <div class="contactItem">
            <div class="title">
                <i data-feather="mail"></i>
                <h3>Send me an email</h3>
            </div>
            <a href="mailto:qzmatheus057@gmail.com">qzmatheus057@gmail.com</a>
        </div>
        <div class="contactItem">
            <div class="title">
                <i data-feather="send"></i>
                <h3>Call me on Telegram</h3>
            </div>
            <a href="https://www.t.me/Mats057/" target="_blank">Mats057</a>
        </div>
        <div class="contactItem">
            <div class="title">
                <i data-feather="github"></i>
                <h3>Check my GitHub</h3>
            </div>
            <a href="https://github.com/mats057" target="_blank">Mats057</a>
        </div>
        <div class="contactItem">
            <div class="title">
                <i data-feather="linkedin"></i>
                <h3>Check my LinkedIn</h3>
            </div>
            <a href="https://www.linkedin.com/in/matheus-zanutin/" target="_blank">Matheus Queiroz</a>
        </div>
    </div>
    </section>
    <section>
        <img src="/assets/contact.svg" alt="People illustrations by Storyset">
   </section>
</div>